{% comment %}
  * The background image of a split her section

  *  img_object {object}- The Image we will use

  {% include 'image-fill', img_object: section.settings.image %}
{% endcomment %}

{%- assign image = img_object -%}

<div class="split-hero__box">
  {%- unless image == blank -%}
    <div class="split-hero__image lazyload fade-in"
      data-bgset="{% include 'bgset', image %}"
      data-sizes="auto"
      data-parent-fit="cover">
    </div>
    <noscript>
      <div class="split-hero__image"
        style="background-image:url('{{ image | img_url: '2048x' }}');">
      </div>
    </noscript>
  {%- else -%}
    <div class="split-hero__image split-hero__image--onboarding">
      {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
    </div>
  {%- endunless -%}
</div>
